/* layout.module.scss */
.container {
  margin: 0 auto;
  max-width: 1792px;
  padding: 1rem;
  color: #eeedeb;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  display: flex;
  align-items: flex-start;
}

.profilePhoto {
  margin-right: 1rem;
}

.profilePhoto img {
  width: 400px; /* Adjust the width as needed */
  padding-right: 1rem;
  flex-grow: 1;
}

.text {
  max-width: 1000px;
  flex-grow: 1;
}
