.footer {
  font-family: var(--font-secondary) !important;
  width: 100%;
  background-color: var(--color-primary); 
  color: var(--color-font-contrast);
  padding: 1rem 0; 
}

.footer__links {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100%;
}

.footer__links ul {
  display: flex;
  flex-direction: row;      
  flex-wrap: nowrap;        
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 3rem;              
}

.footer__links li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__links li a {
  color: var(--color-font-contrast);
  text-decoration: none;
  transition: all 0.3s var(--timing-function);
}

.footer__links li svg {
  font-size: 3rem;       
  opacity: 0.8;
  transition: all 0.3s ease;
}

.footer__links li a:hover svg {
  opacity: 1;
  color: var(--color-font-contrast); 
  transform: scale(1.15) translateY(-5px); 
}

/* --- COPYRIGHT --- */
.footer small {
  display: block;
  text-align: center;
  margin-top: 0.5rem;
  font-size: 0.8rem;
  opacity: 0.5;
  letter-spacing: 0.05em;
}

/* --- RESPONSIVE --- */
@media (max-width: 600px) {
  .footer__links ul {
    flex-wrap: wrap;        
    gap: 1rem;
    padding: 0 1rem;
  }
  
  .footer__links li svg {
    font-size: 1rem;        
  }
}